{% extends "base.html" %}

{% block content %}
    <div class="login-form">       
    
        <h2>Вход</h2> 	
        <form method="post">
            <p class="login-form">
                <label for="name" class="login-label">Имя пользователя:</label>
                <input id="name" type="text" name="username" value="{{username}}" class="input-text">
            </p>
            
            <p  class="login-form">
            	<label for="pass" class="login-label">Пароль:</label>
            	<input id="pass" type="password" name="password" value="" class="input-text">
            </p>
            {% if error %}
            <div class="clear"></div><p class="error">
                {{error}}
            </p>
            {% endif %}
    	
    		<input type=submit class="button-type-2">
            <div class="clear"></div>
            <a href="/signup">Срочно зарегистрироваться!</a>
    	</form>
        
    
	</div>



{% endblock %}

