{% extends "base.html" %}
{% block content %}	


	
<div class="full-width col-2-full">


<div class="blog-post full-post" id="{{msg.key().id()}}">

	<h2 class="page-heading">
		<a href="/{{owner}}{{blog}}"><div class="back-btn"></div></a>{{msg.title}}
	</h2>

	<div class="blog-post-preview inpost">
	
	{% if msg.header_img%}
	<div class="top"></div>				
	<div class="bottom"></div>
	<a href="#" class="image-link">
		<img src="/img/{{msg.header_img}}" alt="{{msg.title}}" />
	</a>			
	{% endif %}		
	</div>
	<div class="clear"></div>

	<p class="details">
		Автор: {% if msg.author%}<a id="owner">{{msg.author}}</a>{% else %}Балбес{% endif %} <br>Опубликовано в <a href="#">Uncategorized</a>
	</p>

<div class="hr heading-hr"></div>
  
	<p>{{msg.text}}</p>
</div>
<div class="comments-wrap">
<div class="clear"></div>
<h3>Комментариев: <div id="comments-count">{% if msg.comments %}{{msg.comments}}{% else %}0{% endif %}</div></h3>
	<a id="comments"></a>
	<div class="com-replies first">
		{% for com in com_flow recursive %}		
		<div class="comment{% if (com.nest_level > 1 and com_replies and com.replies|length > 5) or (com.nest_level == 3 and com.replies) %} collapse {% endif %}" id="{{com.msg.key().id()}}">
			<div class="com-msg">
				<img src="/img/blog-default-image.jpg">
				<div class="com-heading">
					<div class="com-author">{% if com.msg.author%}{{com.msg.author}}{% else %}Балбес{% endif %}</div>
					<div class="com-created">{{com.msg.make_rudate()}}</div>					
				</div>
				<div class="com-body">{{com.msg.text}}</div>
				<a class="com-answer" href="">{% if user and user.check_power('comment_post') %}Ответить{%else%}&nbsp;{% endif %}</a>
			
			</div> <!-- содержимое комментария -->
			<div class="com-replies{% if com.nest_level > 6 %}_0{% endif %}"> <!-- ответы на комментарий (который в свою очередь тоже являются комментариями) -->
			{% if com.replies %} <!-- рекурсивный обход по списку ответов  --> 
				{{ loop(com.replies) }}
			{% endif %}
			</div>
		</div>			
		{% endfor %}
	</div>
		 

</div>


{% if user and user.check_power('comment_post') %}
<div class="clear"></div>
<form class="com-answer_form_last" action="{{blog}}/{{msg.key().id()}}/" method="post">
    <textarea name="content" class="reply-comment"></textarea>  	    
	<div class = bottom>
		<div class="bottom_left">				
		</div>
		<div class="bottom_right">
			<input type="submit" class="button-type-2">							
		</div>
		<div class="clear"></div>	
		
	</div>

</form>	

<script type="tmpl" id="com-answ"><!-- /*шаблон для формы комментирования*/-->
	<form class="com-answer_form" action="{{blog}}/{{msg.key().id()}}/" method="post">
	    <textarea name="content" class="reply-comment"></textarea>  	    
    	<div class = bottom>
			<div class="bottom_left">				
			</div>
			<div class="bottom_right">
				<input type="submit" class="button-type-2">							
			</div>
			<div class="clear"></div>				
		</div>

	</form>	
</script>
{% endif %}

</div>
<script type="tmpl" id="col_btn"><!-- /*шаблон для кнопки свертки*/-->
	<div class="col-btn">
		Развернуть
	</div>
</script>



<script src="/js/core.js"></script>
{% endblock %}