{% extends "base.html" %}
{% block content %}

	
	
	<div class="signup-form"> 
		<h2>Регистрация</h2>
		<form method="post">	

					
			<p class="login-form">
				<label for="name" class="login-label">Имя пользователя:</label>
				<input id="name" class="input-text" type="text" name="username" value="{{username}}" />	
				{% if error_username%}<span class="error">Это не подходящее имя пользователя.</span> {% endif %}
				{% if error == 'ExistUserError' %} <span class="error">This user already exist</span> {% endif %}
			</p>	
					
			<p class="login-form">
				<label for="pwd" class="login-label">Пароль:</label>
				<input id="pwd" class="input-text" type="password" name="password" />				
				{% if error_password%} <span class="error">Пароль не подходит. Попробуйте ещё раз.</span> {% endif %}
			</p>
			

			<p class="login-form">
				<label for="pwd2" class="login-label">Ещё раз пароль:</label>
				<input id="pwd2" class="input-text" type="password" name="verify" />				
				{% if error_verify%} <span class="error">Введённые пароли не совпадают.</span> {% endif %}
				
			</p>

			<p class="login-form">
				<label for="email" class="login-label">Ваш e-mail:</label>
				<input id="email" class="input-text" type="text" name="email" value="{{email}}" />				
				{% if error_email%} <span class="error">Это не правильный адрес e-mail.</span> {% endif %}					

			</p>
			<input type=submit class="button-type-2">
			
		
		</form>
	</div>

{% endblock %}